.sidebar-main {
  width: 200px;
  background-color: #ffffff;
  border-right: 1px solid #e0e0e0;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding-top: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sidebar-name {
  display: flex;
  justify-content: space-evenly;
  align-items: center;  
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: white;
  background-color: rgb(39, 188, 39);
  margin-bottom: 0px;
  height: 50px;
}
.sidebar-logo {
  width: 60%;
  font-size: 16px;
}

.sidebar-links {
  list-style: none;
  padding: 0;
}

.sidebar-links a {
  text-decoration: none;
  color: #333333;
  display: block;
  padding: 12px 16px;
  border-bottom: 1px solid #e0e0e0;
}
.sidebar-links a:hover {
  background-color: #9dea96;
}
.sidebar-links a.active {
  background-color: #f0f0f0;
  font-weight: bold;
}
.sidebar-footer {
  list-style: none;
  padding: 0;
  margin-top: auto;
  border-top: 1px solid #e0e0e0;
  
}
.sidebar-footer a {
  text-decoration: none;
  color: #333333;
  display: block;
  padding: 12px 16px;
  border-bottom: 1px solid #e0e0e0;
  
}
.sidebar-footer a:hover {
  background-color: #9dea96;
}