.video-card {
  width: 300px;
  margin: 10px;
  cursor: pointer;
}
.video-thumbnail {
  width: 350px;
  height: 200px;
  border-radius: 20px;
  background-color: gray;
}
.video-info {
  display: flex;
  padding: 10px;
}